<div class="container">
    <table class="table-table stripped">
        <thead>
            <tr>
                <th> id</th>
                <th> userName</th>
                <th> password</th>
                <th> firstName</th>
                <th> lastName</th>
                <th> email</th>
                <th> phone</th>
            </tr>

        </thead>

        <tbody>

            <tr *ngFor=" let user of users">

                <th>{{users.id}}</th>
                <th>{{users.userName</th>
                <th>{{users.password</th>
                <th>{{users.firstName}</th>
                <th>{{users.lastName}</th>
                <th>{{users.email}</th>
                <th>{{users.phone}}</th>




            </tr>
        </tbody>


    </table>

</div>